<nav class="navbar navbar-expand-lg bgi navbar fixed-top">
    <div class="container-fluid ">
        <a class="navbar-brand ms-3 " href="#">
            <img src="~/NewFolder/—Pngtree—pizza vector illustration_5333005.png" alt="Logo" width="80" height="50" class="d-inline-block align-text-top shad">
        </a>
        <h4 class="text-white my-2 ">La mia pizzeria</h4>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-underline mx-3">
                <a class="nav-link active text-white" aria-current="page" href=" @Url.Action("Index", "Home")">Home</a>
                <a class="nav-link text-white" href=" @Url.Action("ChiSiamo", "Home")">Chi Siamo</a>
                <a class="nav-link text-white" href="#">Recensioni</a>
               
            </div>
        </div>
      
    </div>
</nav>

 

@*<nav class="nav  text-white bgi">
       
      
</nav>*@