


    <div  class="container-md text-center text-white mb-5">
       <div class="row justify-content-center">
            <div class="col-12">
                <div class="my-5 ">
                    <h2 class="text-white p-4">
                        MENU PIZZE
                      
                    </h2>
                    <hr class="border border-danger border-2 opacity-50">
                </div>
            </div>
        </div>
   
    
        <div class="row mb-5">

            <!--COL 1-->
              <div class="col-12 col-md-4 col-lg-4 mb-4 ">
            <!--card 1 col 1-->
               <div class="   w-75 mb-5 mx-auto ">
                        <img src="~/NewFolder/pepperoni_cheese_pizza.jpg" class=" card-img-top rounded-5 " alt="immagine 1">

                        <div class="border-3  mt-2">
                          <h5 >Pepperoni pizza</h5>
                           <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <h5 >12.50$</h5>
                    </div>
                    <div class=" gap-2 d-sm-block d-md-block mb-3">
                            <button class="btn btn-outline-warning" type="button">add to cart</button>

                </div>

            </div>


            <!--card 2 col 1-->
                <div class="   w-75 mb-5 mx-auto ">
                    <img src="~/NewFolder/pepperoni_cheese_pizza.jpg" class=" card-img-top rounded-5 " alt="immagine 1">

                    <div class="border-3  mt-2">
                        <h5>Pepperoni pizza</h5>
                        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <h5>12.50$</h5>
                    </div>
                    <div class=" gap-2 d-sm-block d-md-block mb-3">
                        <button class="btn btn-outline-warning" type="button">add to cart</button>

                    </div>

                </div>


            <!--card 3 col 1-->
                <div class="   w-75 mb-5 mx-auto ">
                    <img src="~/NewFolder/pepperoni_cheese_pizza.jpg" class=" card-img-top rounded-5 " alt="immagine 1">

                    <div class="border-3  mt-2">
                        <h5>Pepperoni pizza</h5>
                        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <h5>12.50$</h5>
                    </div>
                    <div class=" gap-2 d-sm-block d-md-block mb-3">
                        <button class="btn btn-outline-warning" type="button">add to cart</button>

                    </div>

                </div>





            </div>
            <!-- col 2-->
              <div class="col-12 col-md-4 col-lg-4 mb-4 ">
            <!--card 1 col 2-->
                <div class="   w-75 mb-5 mx-auto ">
                    <img src="~/NewFolder/pepperoni_cheese_pizza.jpg" class=" card-img-top rounded-5 " alt="immagine 1">

                    <div class="border-3  mt-2">
                        <h5>Pepperoni pizza</h5>
                        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <h5>12.50$</h5>
                    </div>
                    <div class=" gap-2 d-sm-block d-md-block mb-3">
                        <button class="btn btn-outline-warning" type="button">add to cart</button>

                    </div>

                </div>

            <!--card 2 col 2-->
                <div class="   w-75 mb-5 mx-auto ">
                    <img src="~/NewFolder/pepperoni_cheese_pizza.jpg" class=" card-img-top rounded-5 " alt="immagine 1">

                    <div class="border-3  mt-2">
                        <h5>Pepperoni pizza</h5>
                        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <h5>12.50$</h5>
                    </div>
                    <div class=" gap-2 d-sm-block d-md-block mb-3">
                        <button class="btn btn-outline-warning" type="button">add to cart</button>

                    </div>

                </div>


            <!--card 3 col 2-->
                <div class="   w-75 mb-5 mx-auto ">
                    <img src="~/NewFolder/pepperoni_cheese_pizza.jpg" class=" card-img-top rounded-5 " alt="immagine 1">

                    <div class="border-3  mt-2">
                        <h5>Pepperoni pizza</h5>
                        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <h5>12.50$</h5>
                    </div>
                    <div class=" gap-2 d-sm-block d-md-block mb-3">
                        <button class="btn btn-outline-warning" type="button">add to cart</button>

                    </div>

                </div>





            </div>

            <!-- col 3-->
            <div class="col-12 col-md-4 col-lg-4 mb-4 ">
            <!--card 1 col 3-->
                <div class="   w-75 mb-5 mx-auto ">
                    <img src="~/NewFolder/pepperoni_cheese_pizza.jpg" class=" card-img-top rounded-5 " alt="immagine 1">

                    <div class="border-3  mt-2">
                        <h5>Pepperoni pizza</h5>
                        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <h5>12.50$</h5>
                    </div>
                    <div class=" gap-2 d-sm-block d-md-block mb-3">
                        <button class="btn btn-outline-warning" type="button">add to cart</button>

                    </div>

                </div>

            <!--card 2 col 3-->
                <div class="   w-75 mb-5 mx-auto ">
                    <img src="~/NewFolder/pepperoni_cheese_pizza.jpg" class=" card-img-top rounded-5 " alt="immagine 1">

                    <div class="border-3  mt-2">
                        <h5>Pepperoni pizza</h5>
                        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <h5>12.50$</h5>
                    </div>
                    <div class=" gap-2 d-sm-block d-md-block mb-3">
                        <button class="btn btn-outline-warning" type="button">add to cart</button>

                    </div>

                </div>

            <!--card 3 col 3-->
                <div class="   w-75 mb-5 mx-auto ">
                    <img src="~/NewFolder/pepperoni_cheese_pizza.jpg" class=" card-img-top rounded-5 " alt="immagine 1">

                    <div class="border-3  mt-2">
                        <h5>Pepperoni pizza</h5>
                        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <h5>12.50$</h5>
                    </div>
                    <div class=" gap-2 d-sm-block d-md-block mb-3">
                        <button class="btn btn-outline-warning" type="button">add to cart</button>

                    </div>

                </div>




            </div>




          <hr class="border border-danger border-2 opacity-50">


            </div>
          </div>
  



          
